<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="input-group">
                <label for="username" aria-autocomplete="off">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password" aria-autocomplete="off">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>login<a href="{{ url_for('login') }}">Login</a></p>
    </div>
</body>
</html>
